In [7]:
'''Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
-----'''

import pandas as pd

data = [4,8,15,16,23,42]

series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [8]:
'''Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.
------'''

import pandas as pd

list = ["one", 2, "three", 4,5,6,"seven",8,"nine","ten"]

series = pd.Series(list)
print(series)

0      one
1        2
2    three
3        4
4        5
5        6
6    seven
7        8
8     nine
9      ten
dtype: object

In [10]:
''' Q3. Create a Pandas DataFrame that contains the following data:

Then, print the DataFrame.'''

import pandas as pd

data = [['Alice', 25,'Female'], ['Bob', 30, 'Male'], ['Claire', 27, 'Female']]

df = pd.DataFrame(data, columns=['Name', 'Age', 'Gender'])

print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [ ]:
Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
------
Pandas DataFrame is two-dimensional size-mutable, potentially heterogeneous tabular data structure with labeled axes (rows and columns). 
A Data frame is a two-dimensional data structure, i.e., data is aligned in a tabular fashion in rows and columns. 

Series can only contain single list with index, whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series that can be used to analyse the data.

In [14]:
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
--------

Common data manipulation functions are::
- Dropping columns in the data.
- Dropping rows in the data.
- Renaming a column in the dataset.
- Select columns with specific data types.
- Slicing the dataset.

Example:

import pandas as pd

data = [['Alice', 25,'Female'], ['Bob', 30, 'Male'], ['Claire', 27, 'Female']]

df = pd.DataFrame(data, columns=['Name', 'Age', 'Gender'])

print(df)

print("##################")

df_dropped = df.drop('Gender', axis=1)
print(df_dropped)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female
##################
     Name  Age
0   Alice   25
1     Bob   30
2  Claire   27

In [ ]:
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
-----
- Series: A Series is a one dimensional array like structure with homogeneous data. 
    The values of the series are mutable means we can change any value in series,
    but the size of the series is immutable so we can not change the size of the series.

- DataFrame: DataFrame is a two-dimensional array with heterogeneous data. 
    A DataFrame size is mutable and data is also mutable so we can change the data and size of DataFrame at any time.

- Panel: The panel is a three-dimensional data structure with heterogeneous data. 
    In Panel Data and size are mutable.

In [ ]:
Q7. Create a DataFrame using multiple Series. Explain with an example.
-------

import pandas as pd

courses = pd.Series(["DSA","Data Science Masters","Java"])
fees = pd.Series([3200,3500,3700])
discount  = pd.Series([1000,2300,1000])

# Combine two series.
df=pd.concat([courses,fees],axis=1)

# It also supports to combine multiple series.
df=pd.concat([courses,fees,discount],axis=1)
print(df)