In [5]:
1. 

marks = int(input("Please enetr percentage :: "))

if marks>90:
    print("Grade A")
elif marks>80 and marks<=90:
    print("Grade B")
elif marks>=60 and marks<80:
    print("Grade C")
else:
    print("Grade D")

Please enetr percentage ::  98

Grade A

In [7]:
2.

CP = int(input("Please enter cost price in rupees :: "))

if CP > 100000:
    print("Road Tax to be paid :: ",.15*CP)
elif CP>50000 and CP<=100000:
    print("Road Tax to be paid :: ",.10*CP)
else:
    print("Road tax to be paid :: ",.05*CP)

Please enter cost price in rupees ::  5000

Road tax to be paid ::  250.0

In [11]:
3. 

city = input("Please name one city :: ")

if city == "Delhi":
    print("Monument :: Red Fort")
elif city == "Agra":
    print("Monument :: Taj Mahal")
elif city == "Jaipur":
    print("Monument :: Jal Mahal")
else:
    print("City is not from the provided list")

Please name one city ::  Patna

City is not from the provided list

In [71]:
4. 

num = int(input("Please provide a number :: "))

if num<=10:
    quotient = num//3
    print(quotient)

Please provide a number ::  8

2

In [ ]:
5.

Why and when to use while loop in python give a detailed description with example

--While loop repeat sa statement or multiple statements till the condition is True.
-- While loop is used when we dont know the iterations till when to use the loop

Example: print a number as long as the number is less than or equal to 10

n=1

while(n<=10):
    print("Number :: ",n)
    n=n+1
    
    
Output:
Number ::  1
Number ::  2
Number ::  3
Number ::  4
Number ::  5
Number ::  6
Number ::  7
Number ::  8
Number ::  9
Number ::  10

In [63]:
6. 

## pattern 1 right triangle using *

n=6

for i in range(n):
    for j in range(0,i):
        print("*",end=' ')
    print()
    
## pattern 2 inverted triangle using *
print("----------")

for i in range(n):
    for j in range(n,i):
        print(' ',end=' ')
        
    for k in range(i,n):
        print("*",end=' ')
    print()
    

## pattern 3 left triangle using *

print("--------")

for i in range(n):
    for j in range(i,n):
        print(" ",end=' ')
    
    for k in range(i+1):
        print("*",end=' ')
    print()

## triangle pattern using *

print("---------")

for i in range(n):
    for j in range(i,n):
        print(" ",end='')
    
    for k in range(i+1):
        print("*",end='')
        
    for j in range(0,i):
        print("*",end='')
    print()

*
* *
* * *
* * * *
* * * * *
----------
* * * * * *
* * * * *
* * * *
* * *
* *
*
--------
            *
          * *
        * * *
      * * * *
    * * * * *
  * * * * * *
---------
      *
     ***
    *****
   *******
  *********
 ***********

In [66]:
7. 

n=10

while(n>=1):
    print(n)
    n=n-1

10
9
8
7
6
5
4
3
2
1