In [ ]:
Q1. What is data encoding? How is it useful in data science?
----------
Encoding is a technique of converting categorical variables into numerical values so that it could be easily fitted to a machine learning model.
Models only work with numerical values. 
For this reason, it is necessary to convert the categorical values of the features into numerical ones, 
So the machine can learn from those data and gives the right model. 
This process of converting categorical data into numerical data is called Encoding.

In [ ]:
Q2. What is nominal encoding? Provide an example of how you would use it in a real-world scenario.
--------
When we have a feature where variables are just names and there is no order or rank to this variable's feature.

For example: City of person lives in, Gender of person, Marital Status, etcâ€¦

In the above example, We do not have any order or rank, or sequence. 
All the variables in the respective feature are equal.
We can't give them any orders or ranks. 
Those features are called Nominal features.

In [ ]:
Q3. In what situations is nominal encoding preferred over one-hot encoding? Provide a practical example.
--------
When we have categorical data where variables are just names and there is no order or rank to this variable's feature in that case we will prefer nominal encoding instaed of On eHot Encoding.

Example: Gender of person, Marital Status, etc...

In [ ]:
Q4. Suppose you have a dataset containing categorical data with 5 unique values. Which encoding
technique would you use to transform this data into a format suitable for machine learning algorithms?
Explain why you made this choice.
--------
In this case, we can use Nominal or One Hot Technique to transform data into a suitable format, 
because it has only 5 unique value, so it will generate 5 different combinations of numerical data.

In [ ]:
Q5. In a machine learning project, you have a dataset with 1000 rows and 5 columns. Two of the columns
are categorical, and the remaining three columns are numerical. If you were to use nominal encoding to
transform the categorical data, how many new columns would be created? Show your calculations.
------
number of categories = 2
number of rows (if 10 unique values are there) = 1000 rows with 10 unique value

Total number of new categories will be :: 2*10 = 20 new columns

In [ ]:
Q6. You are working with a dataset containing information about different types of animals, including their
species, habitat, and diet. Which encoding technique would you use to transform the categorical data into
a format suitable for machine learning algorithms? Justify your answer.
------ 
Here we will be using Nominal Encodingtechnique to transform categorical data into a numerical data,
as there is no ranking for any of the categories like species, habitat, and diet.

In [8]:
Q7.You are working on a project that involves predicting customer churn for a telecommunications
company. You have a dataset with 5 features, including the customer's gender, age, contract type,
monthly charges, and tenure. Which encoding technique(s) would you use to transform the categorical
data into numerical data? Provide a step-by-step explanation of how you would implement the encoding.
--------
Here we will use Ordinal encoding as, there will be ranking or order based on Monthly changes or tenure or combination of both categories.
In ordinal encoding, each unique category value is assigned an integer value.

import pandas as pd

data = [['Male', 33,'Monthly',800,1], ['Female', 45,'Quarterly',2000,2], ['Male', 44,'Quarterly',3000,3],['Female', 43,'Monthly',1500,2]]
df = pd.DataFrame(data, columns=['Gender', 'Age','Contract Type','Monthly Charges','Tenure'])
print(df)
print('-----------')

## Assign male = 0 and Female = 0
data1 = [[0, 33,'Monthly',800,1], [1, 45,'Quarterly',2000,2], [0, 44,'Quarterly',3000,3],[1, 43,'Monthly',1500,2]]
df1 = pd.DataFrame(data1, columns=['Gender', 'Age','Contract Type','Monthly Charges','Tenure'])
print(df1)
print('-----------')

## Based on Contract Type , find the mean of monthly charges
## Quarterly ---- 2500
## Monthly ----1150

## Replace the value with corresponding Mean
data2 = [[0, 33,1150,800,1], [1, 45,2500,2000,2], [0, 44,2500,3000,3],[1, 43,1150,1500,2]]
df2 = pd.DataFrame(data2, columns=['Gender', 'Age','Contract Type','Monthly Charges','Tenure'])
print(df2)
print('-----------')

   Gender  Age Contract Type  Monthly Charges  Tenure
0    Male   33       Monthly              800       1
1  Female   45     Quarterly             2000       2
2    Male   44     Quarterly             3000       3
3  Female   43       Monthly             1500       2
-----------
   Gender  Age Contract Type  Monthly Charges  Tenure
0       0   33       Monthly              800       1
1       1   45     Quarterly             2000       2
2       0   44     Quarterly             3000       3
3       1   43       Monthly             1500       2
-----------
   Gender  Age  Contract Type  Monthly Charges  Tenure
0       0   33           1150              800       1
1       1   45           2500             2000       2
2       0   44           2500             3000       3
3       1   43           1150             1500       2
-----------