In [1]:
## Day2

In [2]:
print("Hello World")

Hello World

In [3]:
print(123)

123

In [4]:
age=30
print("Age is :: ", age)

Age is ::  30

In [5]:
print("Age is :: {age}")

Age is :: {age}

In [8]:
# formatting
# f string
print(f"Age is :: {age}")

Age is :: 30

In [10]:
## format()

name="Ram"
age=30
print("Name is :: {} and age is :: {}".format(name,age))

Name is :: Ram and age is :: 30

In [11]:
## placeholder
print("Name is :: {firstname} and age is {firstage}".format(firstage=age,firstname=name))

Name is :: Ram and age is 30

In [13]:
name = "Puja"
age = 31
degree = "BTech"

## print :: My age is 32 and i have completed : my degree of BE with the name of Puja

print("My age is {} and i have completed : my degree {} with the name of {}".format(age,degree,name))

My age is 31 and i have completed : my degree BTech with the name of Puja

In [14]:
print(f"My age is {age} and i have completed : my degree {degree} with the name of {name}")

My age is 31 and i have completed : my degree BTech with the name of Puja

In [19]:
## Control Flow
## Decision making statements

# if statement
## colon indiicates the start of the if block

age=18

if age>=18:
    print("Can vote")

Can vote

In [18]:
age=16

if age>=18:
    print("Can vote")

In [20]:
input("Please provide age :: ")

Please provide age ::  17

'17'

In [21]:
age = input("Please provide age :: ")

Please provide age ::  20

In [22]:
print(age)

20

In [24]:
age = int(input("Please provide age :: "))

Please provide age ::  25

In [25]:
type(age)

int

In [29]:
# take an input of age
# check whether age is >=18 and age <=45
# display a message you are young blood

age = int(input("Please provide age :: "))

if age>=18 and age<=45:
    print("You are a young blood")

Please provide age ::  25

You are a young blood

In [30]:
# if else statement
age = int(input("Please provide age :: "))

if age>=18 and age<=45:
    print("You are a young blood")
else:
    print("Thank You for applying, we will let u know")

Please provide age ::  12

Thank You for applying, we will let u know

In [34]:
## mall 
## any product >1000 has 20% off
## any product <=1000 discount of 30% off

product_price = int(input("Please provide product price :: "))

if(product_price > 1000):
    price = product_price - (0.2*product_price)
    print("Selling price is :: ",price)
else:
    price = product_price - (0.3*product_price)
    print("Selling price is :: ",price)

Please provide product price ::  2000

Selling price is ::  1600.0

In [37]:
product_price = int(input("Please provide product price :: "))

if(product_price > 1000):
    print("Selling price is :: {}".format(product_price*0.8))
else:
    print("Selling price is :: {}".format(product_price*0.7))

Please provide product price ::  4000

Selling price is :: 3200.0

In [39]:
product_price = int(input("Please provide product price :: "))

if(product_price > 1000):
    print(f"Selling price is :: {product_price*0.8}")
else:
    print(f"Selling price is :: {product_price*0.7}")

Please provide product price ::  2000

Selling price is :: 1600.0

In [55]:
## mall 
## any product >3000 has 20% off
## any product >2000 <=3000 discount of 30% off
## product 100 and <=2000 40% off
## if price is 2999 then additional gift
## if price is equal to 4000 then u will get a trip to GOA

product_price = int(input("Please provide product price :: "))

if(product_price > 3000):
    if(product_price == 4000):
        print("Wowwwww You get a trip to GOA")
    print(f"Selling price is :: {product_price*0.8}")
elif (product_price > 2000 and product_price <= 3000):
    if(product_price == 2999):
        print("Congratulations You will get an additional gift")
    print(f"Selling price is :: {product_price*0.7}")
elif (product_price > 100 and product_price <= 2000):
    print(f"Selling price is :: {product_price*0.6}")
else:
    print("Lets drink a cup of tea")

Please provide product price ::  4000

Wowwwww You get a trip to GOA
Selling price is :: 3200.0

In [57]:
# Single statements

val=int(input("Provide a number :: "))
if(val<=999):print("Value is ",val)
else:print("Go Home")

Provide a number ::  2000

Go Home

In [58]:
## while loop

joining_Age = 45

while(joining_Age<=60):
    joining_Age=joining_Age+1
    print("Joining Age :: ",joining_Age)

Joining Age ::  46
Joining Age ::  47
Joining Age ::  48
Joining Age ::  49
Joining Age ::  50
Joining Age ::  51
Joining Age ::  52
Joining Age ::  53
Joining Age ::  54
Joining Age ::  55
Joining Age ::  56
Joining Age ::  57
Joining Age ::  58
Joining Age ::  59
Joining Age ::  60
Joining Age ::  61

In [61]:
## while loop with else block

joining_Age = 45

while(joining_Age<=60):
    print("Joining Age :: ",joining_Age)
    joining_Age=joining_Age+1
else:
    print("Its time for retirement")

Joining Age ::  45
Joining Age ::  46
Joining Age ::  47
Joining Age ::  48
Joining Age ::  49
Joining Age ::  50
Joining Age ::  51
Joining Age ::  52
Joining Age ::  53
Joining Age ::  54
Joining Age ::  55
Joining Age ::  56
Joining Age ::  57
Joining Age ::  58
Joining Age ::  59
Joining Age ::  60
Its time for retirement

In [63]:
## ATM with 1000rs

total_amt=1000
while(total_amt!=0):
    print("Total Amount :: ",total_amt)
    total_amt=total_amt-100
else:
    print("Put more Money !!!")

Total Amount ::  1000
Total Amount ::  900
Total Amount ::  800
Total Amount ::  700
Total Amount ::  600
Total Amount ::  500
Total Amount ::  400
Total Amount ::  300
Total Amount ::  200
Total Amount ::  100
Put more Money !!!

In [72]:
## For loop

list=["abc",23,45,"Apple"]

type(list)

firstElement = list[0]
print(firstElement)

for a in list:
    print(a)

abc
abc
23
45
Apple

In [83]:
## to get list elements in one line use end=''

fruits_list = ["Apple","Banana","Pear","Papaya","Coconut"]

for ele in fruits_list:
    print(ele,end='')
    if(ele == "Apple"):
        print("The fruit is Apple")

AppleThe fruit is Apple
BananaPearPapayaCoconut

In [80]:
fruit = "mango"

for x in fruit:
    print(x)
    
print(fruit[0])

m
a
n
g
o
m

In [92]:
## Nested loops

## \r is return -- to go to next line

n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\r")

*
**
***
****
*****
******
*******

In [93]:
## \n is new line
n=7

for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print("\n")

*

**

***

****

*****

******

*******

In [87]:
##range(1,6)
## takes 1st number , excludes last number
## 3rd number is step size

for i in range(1,6):
    print(i)
    
for j in range(1,10,2):
    print(j)

1
2
3
4
5
1
3
5
7
9

In [ ]:
## loop controls

##break and continue

In [94]:
fruits_list = ["Apple","Banana","Pear","Papaya","Coconut"]

for i in fruits_list:
    if i=="Banana":
        print("The fruit is Banana")
        break
    print(i)

Apple
The fruit is Banana

In [95]:
for i in fruits_list:
    if i=="Banana":
        print("The fruit is Banana")
        pass
    print(i)

Apple
The fruit is Banana
Banana
Pear
Papaya
Coconut

In [96]:
for i in fruits_list:
    if i=="Banana":
        print("The fruit is Banana")
        continue
    print(i)

Apple
The fruit is Banana
Pear
Papaya
Coconut