## Tuple

In [1]:
t = ()
type(t)

tuple

In [2]:
t1 = (1,2,3,4,45,67, 2+3j, "abc", True)
type(t1)

tuple

In [3]:
t1[0]

1

In [4]:
t1[6]

(2+3j)

In [6]:
## tuple in reverse order
t1[::-1]

(True, 'abc', (2+3j), 67, 45, 4, 3, 2, 1)

In [7]:
t1[0:3]

(1, 2, 3)

In [19]:
## return the count of element present in the tuple
## True is considered as 1

t1.count(1)

2

In [17]:
## return first index of value

t1.index(45)

4

In [20]:
t1[0]=25

TypeError: 'tuple' object does not support item assignment

In [ ]:
## list items we can change but tuple items cann't be changed
## tuples are immutable

In [22]:
for i in t1:
    print(i, type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
45 <class 'int'>
67 <class 'int'>
(2+3j) <class 'complex'>
abc <class 'str'>
True <class 'bool'>

In [24]:
t2=(1,2,3,3,4)

In [25]:
t2 * 2

(1, 2, 3, 3, 4, 1, 2, 3, 3, 4)

In [26]:
max(t2)

4

In [27]:
min(t2)

1

In [28]:
tu1 = (1,2,3,4)
tu2 = (5,6,7,8)
tu3 = tu1+tu2
print(tu3)

(1, 2, 3, 4, 5, 6, 7, 8)

In [33]:
## tuple inside a tuple can be created

tu4 = (tu1,tu2)
print(tu4)

((1, 2, 3, 4), (5, 6, 7, 8))

In [38]:
## list can be created inside a tuple

t4 = ((1,2,3,4),[4,5,6,7])
t4

((1, 2, 3, 4), [4, 5, 6, 7])

In [39]:
## update is not possible in tuple but delete is possible in tuple

del(t4)
t4

NameError: name 't4' is not defined

In [40]:
## to get the number of elements inside a tuple

t5=(1,2,3,5,6,9)
len(t5)

6

In [41]:
'abc' in t5

False

In [42]:
9 in t5

True

## Sets

In [43]:
s={}
type(s)

dict

In [44]:
s1={1,2,3,4,5}
type(s1)

set

In [47]:
## duplicate values can not be saved in sets
s2 = {1,2,3,4,5,6,7,8,9,10,1,2,3,4}
s2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [48]:
list(s2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [49]:
tuple(s2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [50]:
l=[1,2,3,4,5,7,6,5,43,3,2,1]
l

[1, 2, 3, 4, 5, 7, 6, 5, 43, 3, 2, 1]

In [51]:
set(l)

{1, 2, 3, 4, 5, 6, 7, 43}

In [53]:
## set used to store data by converting data into hashable form, so list we cant store inside a set
## in case of list, we can make changes but in case of tuple its immutable so proper hash index will be created , so set is allowing to store a tuple
s4 = {1,2,3,4,[2,3,4,5]}

TypeError: unhashable type: 'list'

In [56]:
s5 = {1,2,3,4,(5,4,3,2)}
s5

{(5, 4, 3, 2), 1, 2, 3, 4}

In [57]:
s7 = {1,2,3,4,"Abc","abc"}
s7

{1, 2, 3, 4, 'Abc', 'abc'}

In [58]:
s8 = {1,2,3,4,"abc","abc"}
s8

{1, 2, 3, 4, 'abc'}

In [60]:
## in case of a set we cant do slicing and we cant take values using index
s8[0]

TypeError: 'set' object is not subscriptable

In [62]:
## with teh help of for loop we can access elements inside a set
for i in s8:
    print(i)

1
2
3
4
abc

In [64]:
s8.add(34)

In [65]:
s8

{1, 2, 3, 34, 4, 'abc'}

In [66]:
len(s8)

6

In [69]:
## pop will remove values based on hash values
s8.pop()

2

In [70]:
s8

{3, 34, 4, 'abc'}

In [73]:
## clear will remove all the elements from the set
s8.clear()

In [74]:
s8

set()

In [76]:
s9={1,2,3,4}
s10={1,2,3,9}

s9.difference(s10)

{4}

In [77]:
s10.difference(s9)

{9}

In [78]:
list_out=[]

for i in range(0,51,10):

    list_out.append(str(i))

print(list_out)

['0', '10', '20', '30', '40', '50']

In [79]:
numbers = (1,2,3,4,5, 5,4,3,2,1)

list=[]

for number in numbers:
    list.append(number**2)

print(set(list))

{1, 4, 9, 16, 25}

In [80]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True

In [81]:
s = "I want to become a data scientist"

for i in s.split():

    i.capitalize()

    print(i.title())

I
Want
To
Become
A
Data
Scientist

## Dictionary

In [1]:
d= {}
type(d)

dict

In [3]:
d1 = {"name" : "puja", "emailId" : "pp@gmail.com", "number":1234567890 }
d1

{'name': 'puja', 'emailId': 'pp@gmail.com', 'number': 1234567890}

In [4]:
type(d1)

dict

In [ ]:
## data in a disctionary will be stored in kwy value pair
## key can be anything, value can be anything

In [5]:
d2 = {"name": "abc", "name":"xyz"}

In [7]:
## dictionary never allows us to take same key multiple times, it will take the latest value if we repeat the key
d2

{'name': 'xyz'}

In [9]:
## key can be numeric value also
d3 = {12234 : "abc"}
d3

{12234: 'abc'}

In [11]:
## key can be a floating number
d4 = {12.5: "abc"}
d4

{12.5: 'abc'}

In [12]:
## key can be a boolen value as well
d5 = {True:"abc"}
d5

{True: 'abc'}

In [13]:
## key can not be special character
d6 = {#@ : "abc"}

SyntaxError: incomplete input (3042665294.py, line 2)

In [15]:
## here it will take as here key is string
d7 = {"#@": "abc"}
d7

{'#@': 'abc'}

In [17]:
## key cannot be a list
d8 = {[1,2,3]:"abc"}
d8

TypeError: unhashable type: 'list'

In [19]:
## key can be a tuple

d9 = {(1,2,3):"abc"}
d9

{(1, 2, 3): 'abc'}

In [20]:
## set can not be a key
d10 = {{1,2,3}: "abc"}
d10

TypeError: unhashable type: 'set'

In [22]:
## dictionary can not be a key
d11 = {{"key":10}: "abc"}
d11

TypeError: unhashable type: 'dict'

In [24]:
## value can be a list
d12 = {"key":["DSA","Web Dev","Java"]}
d12

{'key': ['DSA', 'Web Dev', 'Java']}

In [25]:
## value can be a tuple
d13 = {"key" : (1,2,3,4,5)}
d13

{'key': (1, 2, 3, 4, 5)}

In [27]:
## value can be a set as well

d14 = {"key" : {1,2,3,4}}
d14

{'key': {1, 2, 3, 4}}

In [31]:
d16 = {"key": ["DS", "ML"], "start_date":(28,14), "mentors":{"abc","xyz","pqr"}}
d16

{'key': ['DS', 'ML'], 'start_date': (28, 14), 'mentors': {'abc', 'pqr', 'xyz'}}

In [29]:
## value can be a disctionary as well
## this is called Nested Dictionary

d15 = {"key": {"name":"abc","class":10}}
d15

{'key': {'name': 'abc', 'class': 10}}

In [32]:
d16["timimgs"]=(8,8)

In [33]:
d16

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8)}

In [35]:
## key will behave like index to retrieve value
d16["key"]

['DS', 'ML']

In [36]:
## if invalid key will provide, we will get error
d16["name"]

KeyError: 'name'

In [37]:
d16["name1"] = "Puja"

In [38]:
d16

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8),
 'name1': 'Puja'}

In [40]:
d16["name1"]

'Puja'

In [42]:
d16["name1"].upper()

'PUJA'

In [47]:
## Nested Dict-- to get value from nested dict
d15

{'key': {'name': 'abc', 'class': 10}}

In [48]:
d15["key"]["name"]

'abc'

In [49]:
d15["key1"]="afghsa"

In [50]:
d15

{'key': {'name': 'abc', 'class': 10}, 'key1': 'afghsa'}

In [51]:
del d15["key1"]

In [52]:
d15

{'key': {'name': 'abc', 'class': 10}}

In [55]:
## it will clear all data inside dict
d15.clear()

In [56]:
d15

{}

In [58]:
## it will give total number of kwy value pair inside a dict
len(d16)

5

In [59]:
d16

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8),
 'name1': 'Puja'}

In [60]:
## extract all the keys
d16.keys()

dict_keys(['key', 'start_date', 'mentors', 'timimgs', 'name1'])

In [62]:
## extract all the values
d16.values()

dict_values([['DS', 'ML'], (28, 14), {'pqr', 'xyz', 'abc'}, (8, 8), 'Puja'])

In [63]:
## convert the above outcome into a list
list(d16.values())

[['DS', 'ML'], (28, 14), {'abc', 'pqr', 'xyz'}, (8, 8), 'Puja']

In [64]:
list(d16.keys())

['key', 'start_date', 'mentors', 'timimgs', 'name1']

In [65]:
## extract list of key and value pair
d16.items()

dict_items([('key', ['DS', 'ML']), ('start_date', (28, 14)), ('mentors', {'pqr', 'xyz', 'abc'}), ('timimgs', (8, 8)), ('name1', 'Puja')])

In [66]:
list(d16.items())

[('key', ['DS', 'ML']),
 ('start_date', (28, 14)),
 ('mentors', {'abc', 'pqr', 'xyz'}),
 ('timimgs', (8, 8)),
 ('name1', 'Puja')]

In [67]:
d16

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8),
 'name1': 'Puja'}

In [72]:
## copy the whole date from d16 to d17
d17 = d16.copy()

In [71]:
d17

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8),
 'name1': 'Puja'}

In [73]:
d18=d16

In [74]:
d18

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8),
 'name1': 'Puja'}

In [ ]:
## copy menthod will do deep copy-- it will try to reserve new space
## if will make any kind of change in d16 it will not affect d17
## but in equals to method changes will be reflected in d18 as well

In [77]:
d16["name1"] = "Puja"

In [78]:
d16

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8),
 'name1': 'Puja'}

In [79]:
del d16["name1"]

In [80]:
d16

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8)}

In [81]:
d17

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8),
 'name1': 'Puja'}

In [82]:
d18

{'key': ['DS', 'ML'],
 'start_date': (28, 14),
 'mentors': {'abc', 'pqr', 'xyz'},
 'timimgs': (8, 8)}

In [84]:
## in case of dict .. pop function requires argument, it will remove that specific key and give respective value

d16.pop("timimgs")

(8, 8)

In [85]:
d16

{'key': ['DS', 'ML'], 'start_date': (28, 14), 'mentors': {'abc', 'pqr', 'xyz'}}

In [87]:
## here first item will be taken as iterable
## and those will be considered as key and second paramenetr will be considered as its respective values

d.fromkeys((1,2,3),('a','b','c'))

{1: ('a', 'b', 'c'), 2: ('a', 'b', 'c'), 3: ('a', 'b', 'c')}

In [88]:
d19 = {"key1":"value1", "key2":"value2"}
d20 = {"key3":"value3", "key4":"value4"}

In [89]:
## dictionary inside a tuple is possible
(d19,d20)

({'key1': 'value1', 'key2': 'value2'}, {'key3': 'value3', 'key4': 'value4'})

In [90]:
d19.update(d20)

In [93]:
## it has taken an update from d20, means it has copied d20 in d19 
d19

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3', 'key4': 'value4'}

In [92]:
d20

{'key3': 'value3', 'key4': 'value4'}

In [96]:
## get never gives error, it key is not present it will retuen nothing
d20.get("name")

In [95]:
d20.get("key3")

'value3'

## Dictionary Comprehension

In [98]:
{i : i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [100]:
{i : i+10  for i in range(1,11)}

{1: 11, 2: 12, 3: 13, 4: 14, 5: 15, 6: 16, 7: 17, 8: 18, 9: 19, 10: 20}

In [106]:
import math

d21 = {i : math.log10(i) for i in range(1,11)}
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [102]:
d16

{'key': ['DS', 'ML'], 'start_date': (28, 14), 'mentors': {'abc', 'pqr', 'xyz'}}

In [103]:
'key' in d16

True

In [104]:
'name' in d16

False

In [107]:
d21

{1: 0.0,
 2: 0.3010299956639812,
 3: 0.47712125471966244,
 4: 0.6020599913279624,
 5: 0.6989700043360189,
 6: 0.7781512503836436,
 7: 0.8450980400142568,
 8: 0.9030899869919435,
 9: 0.9542425094393249,
 10: 1.0}

In [111]:
## extract only those values whose keys are even numbers

for i in d21.keys():
    if i%2==0:
        print(d21[i])

0.3010299956639812
0.6020599913279624
0.7781512503836436
0.9030899869919435
1.0

In [110]:
d21.keys()

dict_keys([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])

In [112]:
atuple = (100, 200, 300, 400, 500)

print(atuple[-2])

print(atuple[-4:-1])

400
(200, 300, 400)

In [113]:
atuple = ("Orange")

print(type(atuple))

<class 'str'>

In [115]:
atuple = (100,)

print(atuple * 2)

(100, 100)

In [116]:
dict1 = {"key1":1, "key2":2}

dict2 = {"key2":2, "key1":1}

print(dict1 == dict2)

True

In [139]:
set1 = {1,2}
set2 = {3,4}

##set2 = set1.copy()
##set2 = set(set1)
##set2.update(set1)
##set2 = set1

In [140]:
set2

{1, 2}

In [141]:
set1

{1, 2}

In [142]:
set1 = {"Yellow", "Orange", "Black"}

set2 = {"Orange", "Blue", "Pink"}

set3 = set2.difference(set1)

print(set3)

{'Blue', 'Pink'}

In [143]:
dict1 = {"name": "Mike", "salary": 8000}

temp = dict1.get("age")

print(temp)

None