## Data Encoding

1. Nominal/OHE Encoding
2. Label and Ordinal Encoding
3. Target Guided Ordinal Encoding

In [ ]:
## here we will be converting categorical value into meaningful numerical data

In [ ]:
## OHE - One hot encoding

In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
## create a dataframe
df = pd.DataFrame({
    'color':['red','blue','green','green','red','blue']
})

In [3]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
## create an instance of OneHotEncoder
encoder=OneHotEncoder()

In [7]:
encoded=encoder.fit_transform(df[['color']]).toarray()

In [8]:
encoder_df=pd.DataFrame(encoded,columns=encoder.get_feature_names_out())

In [9]:
encoder_df.head()

   color_blue  color_green  color_red
0         0.0          0.0        1.0
1         1.0          0.0        0.0
2         0.0          1.0        0.0
3         0.0          1.0        0.0
4         0.0          0.0        1.0

In [10]:
## in case of new data

In [11]:
encoder.transform([['blue']]).toarray()

/opt/conda/lib/python3.10/site-packages/sklearn/base.py:409: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

array([[1., 0., 0.]])

In [12]:
pd.concat([df,encoder_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0